* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}



.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.change {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p {
    align-self: center;
    position: absolute;
    bottom: 50px;
    transition: font-size 0.3s;
}

p:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

.col h2 {
    padding: 10px;
    color: white;
    transition: font-size 0.3s;
}

.col h2:hover {
    cursor: pointer;
    font-size: 1.7rem;
}

.col button {
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    transition: font-size 0.3s;
}


.col button:hover {
    border: none;
    font-size: 1.9rem;
    color: white;
    cursor: pointer;
}